{% extends 'base.html' %}

{% block nav %}
    <B> navigace summary </B>
{% endblock %}

{% block header %}
    <h1> Email </h1>
{% endblock %}


{% block content %}
<table class=contact>
    <tr><th><label for="id_sender">Sender:</label></th><td> {{ sender }} </td></tr>
    <tr><th><label for="id_subject">Subject:</label></th><td> {{ subject }} </td></tr>
    <tr><th><label for="id_sender">Message:</label></th><td> {{ message }} </td></tr>
</table>

<a href='/contact/'> Contact me </a>
{% endblock %}
